<h1>New BookMark for <%=@article.title%></h1>
<%= form_for ([@article,@bookmark]) do |f|%>
    <%= f.hidden_field :article_id %>
    <%= f.hidden_field :user_id %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <%= f.submit 'Create' %>
<% end %>