<div class="row outlined-section">
    <div class="col-sm-8">
        <h2 id="article_title"><%= @article.title %></h2>
    </div>
    <div class="col-sm-2">
        <div class="row"></div>
        <div class="row"><p>Topic - <%= @article.topic_name %></p></div>
        <div class="row">
            <form>
                <input type="hidden" id="article_ids" name="article_ids" value=<%= @topic_articles %>>
                <input type="hidden" id="article_id" name="article_id" value=<%= @article.id %>>    
                <input id="next" type="submit"  value="Next Article in Topic" />         
            </form>
        </div>
        <div class="row">
            <form id="like">
                Helpful Count:<span id="article_helpful_count"><%=@article.helpful_count%></span>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-thumbs-up" ></i>
                </button>
            </form>
        </div>         
    </div>
    <div class="col-sm-2">
        <form id="create_bookmark">
            <label>Bookmark</label>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="user_id" value="<%= @current_user.id %>">
            <!-- FIX THIS - need to update to match the displayed article -->
            <input type="hidden" name="article_id" value="<%= @article.id %>"> 
            <input id="bookmark_title" name="bookmark_title" type="text">  
            <input type="submit"  value="Create">                         
        </form>            
    </div>
</div>
<% if is_admin? %>
    <div class="indent">
        <p>
            <strong>Article Admin:</strong>
            <%= link_to "Delete", { :controller => 'articles',  :action=>"destroy", 
            :id => @article.id, :topic_id => @article.topic_id} , :method => :delete,
            :class => "btn btn-warning" %>
            <%= link_to "Edit", { :controller => 'articles',  :action=>"edit", 
            :id => @article.id, :topic_id => @article.topic_id}, 
            :class => "btn btn-info" %>
        </p>
    </div>
<% end %> 

<div id="article_content" class="indent">
    <%= sanitize @article.content %>
</div>

<div id="comments" class="indent">
    <h3>Comments</h3>
    <div id="comments_detail">
        <% @article.comments.each do |comment| %>
            <div class="indent">
                <div class="mb-0"><%= sanitize comment.content %></div>
                <h5 class="mt-0"><%= comment.author_name %> on <%= format_time(comment.created_at) %></h5>  
            </div>
        <% end %>
    </div>

    <h4>Add Comment</h4>
    <%= form_tag("/articles/#{@article.id}/comments") do %>
        Comment: <%= text_field_tag "content" %><br>
        <%= submit_tag "Add Comment" %>
     <% end %>

</div>

<script type="text/javascript" charset="utf-8">

function buildComment (comment) {
    let date = moment(`${comment.updated_at}`).format("YYYY-MM-DD HH:mm");
     let html = `<div class="indent">`;
    html += `<div class="mb-0">${comment.content}</div>`;
    html += `<h5 class="mt-0">${comment.author_name} on ${date}</h5>`;
    html += `</div>`;
    return html;
}
function showArticle (article) {
    console.log("Show Article", article);
    $("#article_title").text(article.title);
    $("#article_helpful_count").text(article.helpful_count);
    $("#article_content").html(article.content);  
    $("#article_id").text(article.id);
    
    $("#comments_detail").empty();   
    article.comments.forEach ( function (comment) {
        $("#comments_detail").append(buildComment(comment));
    });


}
$(function() {
    console.log("Article Show - ready");
    $("#like").submit(function(e) {
        console.log("Like!",this);
        e.preventDefault();
        let id = $("#article_id").val();
        var values = $(this).serialize();
        $.post("/articles/" + id + "/like", values, function (article) {
            console.log("Likes Response", article);
            $("#article_helpful_count").text(article.helpful_count);          
        }); 
    });
    $("#next").on("click", function(e) {
        console.log("Next!");
        console.log("id",$("#article_id").val());
        e.preventDefault();
        let id = $("#article_id").val();
        id = parseInt(id,10) + 1;
        console.log("new id",id);     
        // To Do: check for last index
        console.log ("going to get",`"/articles/${id}"`);
        $.get("/articles/" + id + ".json", showArticle);    
     });
     $("#create_bookmark").submit (function(e) {
        e.preventDefault();
        console.log("Create Bookmark!");
        let id = $("#article_id").val();
        var values = $(this).serialize();
        console.log("Values",values);
        $.post("/articles/" + id + "/bookmarks.json", values, function (bookmark) {
            console.log("Bookmark Response", bookmark);
            alert(`Bookmark "${bookmark.bookmark_title}" Created!`);
            $("#bookmark_title").val('');        
        });        
     });
});
</script>