<div class="row outlined-section">
    <div class="col-sm-8">
        <h2><%= @article.title %></h2>
    </div>
    <div class="col-sm-2">
        <div class="row"></div>
        <div class="row"><p>Topic - <%= @article.topic_name %></p></div>
        <div class="row">
            Helpful Count: <%=@article.likes.count%>
            <%= link_to "", like_article_path(@article) , :method => :post, 
            class: "btn btn-outline-primary fas fa-thumbs-up"%>   
        </div>
    </div>
    <div class="col-sm-2">
        <%= link_to "Create Bookmark", 
            { :controller => 'bookmarks',  :action=>"new", :article_id => @article.id}, 
              :class => "btn btn-primary btn-sm" %>
    </div>
</div>
<% if is_admin? %>
    <div class="indent">
        <p>
            <strong>Article Admin:</strong>
            <%= link_to "Delete", { :controller => 'articles',  :action=>"destroy", 
            :id => @article.id, :topic_id => @article.topic_id} , :method => :delete,
            :class => "btn btn-warning" %>
            <%= link_to "Edit", { :controller => 'articles',  :action=>"edit", 
            :id => @article.id, :topic_id => @article.topic_id}, 
            :class => "btn btn-info" %>
        </p>
    </div>
<% end %> 

<div class="indent">
    <p><%= sanitize @article.content %></p>
</div>

<div id="comments" class="indent">
    <h3>Comments</h3>
    <% @article.comments.each do |comment| %>
        <div class="indent">
            <div class="mb-0"><%= sanitize comment.content %></div>
            <h5 class="mt-0"><%= comment.author_name %> on <%= format_time(comment.created_at) %></h5>  
        </div>
    <% end %>

    <h4>Add Comment</h4>
    <%= form_tag("/articles/#{@article.id}/comments") do %>
        Comment: <%= text_field_tag "content" %><br>
        <%= submit_tag "Add Comment" %>
     <% end %>

</div>