<div class="row outlined-section">
    <div class="col-sm-8">
        <h2><%= @article.title %></h2>
    </div>
    <div class="col-sm-2">
        <div class="row"></div>
        <div class="row"><p>Topic - <%= @topic.name %></p></div>
        <div class="row">
            Helpful Count: <%=@article.helpful_count%>
            <%= link_to "", { :controller => 'articles',  :action=>"like", 
            :article_id => @article.id} , :method => :post, 
            class: "btn btn-outline-primary fas fa-thumbs-up"%>   
        </div>
    </div>
    <div class="col-sm-2">
        <%= button_to "Create Bookmark", 
            { :controller => 'bookmarks',  :action=>"create", :article_id => @article.id}, 
            :method => :post,  :class => "btn btn-primary btn-sm" %>
    </div>
</div>
<% if is_admin? %>
    <div class="indent">
        <p>
            <strong>Article Admin:</strong>
            <%= link_to "Delete", { :controller => 'articles',  :action=>"destroy", 
            :id => @article.id, :topic_id => @topic.id} , :method => :delete,
            :class => "btn btn-warning" %>
            <%= link_to "Edit", { :controller => 'articles',  :action=>"edit", 
            :id => @article.id, :topic_id => @topic.id}, 
            :class => "btn btn-info" %>
        </p>
    </div>
<% end %> 

<div class="indent">
    <p><%= sanitize @article.content %></p>
</div>