<p>Hi <%=@current_user.name%></p>
<% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
<% end %>
<%= link_to "Edit Profile", edit_user_path(@current_user.id) %>
<h2>Your Bookmarks</h2>
<ul>
<% @current_user.bookmarks.each do |bookmark| %>
    <li>
        <%= link_to bookmark.article_title, 
            topic_article_path(bookmark.topic_id, bookmark.article_id) %>
        <%= link_to "Delete Bookmark", { :controller => 'bookmarks',  :action=>"destroy", 
            :id => bookmark.id} , :method => :delete %>
    </li>
<% end %>
</ul>
<h2>Latest Articles</h2>
<ul>
<% @latest_articles.each do |article| %>
    <li>
        <%= link_to "#{article.title} - #{format_time(article.created_at)}", topic_article_path(article.topic_id,article) %>
    </li>
<% end %>


