<!DOCTYPE html>
<html>
  <head>
    <title>ike</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">    
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
              <i class="glyphicon glyphicon-align-center"></i>
          </button>
          <a href="#" class="navbar-brand"><%= image_tag 'ike3-small.png' %></a>
      </div>

      <div class="collapse navbar-collapse" id="exampleNavComponents">
          <ul class="nav navbar-nav">
            <li><a class="nav-link" href=<%= home_path %> >Home</a></li>  
            <% if logged_in? %>
              <li><a class="nav-link" href="/articles">Articles</a></li>  
              <% if is_admin? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/users">Users</a></a></li>
                    <li><a class="dropdown-item" href="/topics">Topics</a></a></li>
                    <li><a class="dropdown-item" href=<%= new_article_path %>>Create Article</a></a></li>
                  </ul>
                </li>             
              <% end %>
            <% end %>
            <li><a class="nav-link" href="/about">About</a></li>  
            <% if logged_in? %>
              <li><a class="nav-link" data-method="delete" href="/logout">Log Out</a></li>              
            <% end %>
          </ul>
      </div>
    </div>
  </nav>

  <!-- content -->
  <div class="container"  role="main">
    <%= yield %>
  </div>

</body>
</html>
